.App {}

h2 {
  margin-top: 0px;
}

h1 {
  margin-bottom: 0px;
}
/* Inserinod um rápido css para que os conteúdos principais fiquem lado a lado */
.container {
  display: flex;
  justify-content: space-evenly;

}

.noticias-list,
.ultimas-noticias {
  height: 50%;

  display: flex;
  align-content: space-around;

  padding: 1rem;

}

.noticias-list {
  width: 70%;
}

.ultimas-noticias {
  display: flex;
  flex-direction: column;
}

.post-detail {
  padding: 0.5rem;
  background-color: #f8f3fa;
  border-radius: 13px;
  margin: 1rem;
}

.ultimas-noticias-detail {
  width: 100%;
  padding: 0.5rem;
}